 body {

    width: 100%;
    background-color:  #eee;
}

nav {
    color: #fff;
    background-color: #3359DF!important;
    width: 100%;
    height: 56px;
    line-height: 56px;
}
.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.flash ul {
    margin-top: 20px;
    background: #92b06a;
    color: #fff;
    list-style: none;
    list-style-type: none;
}

.flash ul {
    margin-top: 20px;
    background: #92b06a;
    color: #fff;
     padding: 8px;
    margin-bottom: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.flash {
    margin-bottom: 1em;
}

.tabs .tab a {
    color: #009688 !important;
}
.tabs .tab a {
    color: #009688 !important;
}
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #3F51B5 !important;
    will-change: left, right;
}
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #3F51B5 !important;
}
.material-icons .t {
  color: #009688;
  }