{% extends "base.html" %}
{% block title %}
My Dashboard | Welcome
{% endblock %}
{% block content %}
{% block fab %}

{% endblock %}
{% for course in courses %}
<div class="row">
    <div class="col s12 m12 l4">
            <div class="card">
                    <!--<div class="card-image waves-effect waves-block waves-light">
                        <img class="activator small" src="../static/index.jpg">
                    </div>-->
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{course.name|capitalize}}<i class="material-icons right">more_vert</i></span>
                        <p><a href="{{url_for('main.add_tasks', id=course.id)}}">View Course</a></p>
                        <a class="btn-floating halfway-fab waves-effect waves-light red "><i class="material-icons">delete</i></a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">4 Checkpoints<i class="material-icons right">close</i></span>
                        <p>{{course.description}}</p>
                    </div>
  </div>

    </div>
    {% endfor%}
</div>
                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large dark green">
                        <i class="large material-icons">edit</i>
                    </a>
                    <ul>
                        <li><a class="btn-floating red" href="{{ url_for('main.add_course')}}"><i class="material-icons">add</i></a></li>
                </div>

{% endblock %}