   
{% extends "base.html" %}
{% block title %}
My Dashboard | Welcome
{% endblock %}
{% block content %}
{% block fab %}

{% endblock %}
 {% for learner in user %} 
   
   <body class="white">
    <table class="bordered centered striped">
        <thead>
          <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Checkpoint</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{learner.username}}</td>
            <td>{{learner.email}}</td>
            <td>Amity</td>
            
          </tr>
         
        </tbody>
      </table>
       {% endfor %}
   </body>

  

      {% endblock %}