{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Facilitators List{% endblock %}
{% block content %}
<div class="content-section">
  <br/><br/>
  <div class="center">
    <h3>Facilitators at ANDELA DLC</h3>
    <br/>
    <table class="table table-bordered">
     <thead>
     	<tr>
     		<th width="10%"> First Name</th>
     		<th width="25%"> Last Name </th>
      	<th width="5%"> Email </th>
     	</tr>
     </thead>
     <tbody>

     	{% for facilitator in all_facilitators %}
     	<tr>
     		<td>{{facilitator.first_name}}</td>
     		<td>{{facilitator.last_name}}</td>
     		<td>{{facilitator.email}}</td>
     	</tr>
      {% endfor %}
     </tbody>

    </table>
    <a href="{{url_for('add_facilitator')}}" class="btn btn-default btn-lg">
    <i class="fa fa-plus"></i>
    Add Facilitator
    </a>
  </div>
</div>
{% endblock %}
