{% extends "base.html" %}
{% block title %}
My Dashboard | Welcome
{% endblock %}
{% block content %}
<div id="table-datatables">
              <h4 class="header">Andela DLC Learners</h4>
              <div class="row">
                <div class="col s11">
                  <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Level</th>
                            <th>Progress</th>
                            <th>Task</th>
                            <th>Language</th>
                            <th>Facilitator </th>
                            <th>Date started </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Jimmy Kimani</td>
                            <td>Professional </td>
                            <td>80%</td>
                            <td>Amity</td>
                            <td>CLI Python</td>
                            <td>
                              <div class ="form-group">
                  					    <label class="control-label "><b>Assign To:</b></label>
                  					    <select name="assign_to" class = "form-control">
                  					    	{% for falicitator in facilitators%}
                  					        	<option value="#"></option>
                  					        {% endfor %}
                  					    </select>
                  					</div>
                          </td>
                            <td>2017/04/05</td>
                        </tr>

              {% endblock %}
