{% extends "base.html" %}
{% block title %}
    Forums | Ask A question
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 35px">
  <div class="row">
    <div class="page-header page-heading">
      <a href="{{ url_for ('forum_categories') }}" class="btn main-btn pull-left">Categories </a>
      <a href="{{ url_for ('post_forum_question') }}" class="btn main-btn pull-right">Ask Question</a>
    </div>
  </div>

  <div class="page-header page-heading">
    <h3 class="pull-left">{{ forum_name }} Forums</h3>

    <div class="clearfix"></div>
  </div>
  <p class="lead">This is the right place to discuss any ideas, critics, feature requests and all the ideas regarding our website. Please follow the forum rules and always check FAQ before posting to prevent duplicate posts.</p>
    <hr>

  <div class="row">

    <section class="content">

      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="table-container">
              <table class="table table-filter">
                <tbody>
                {% for question in questions %}
                  <tr>
                    <td>
                      <div class="media">
                        <a href="#" class="pull-left">
                          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                        </a>

                        <div class="media-body">
                          <span class="media-meta pull-right">{{question.date_posted.strftime('%d-%m-%Y')}}</span>
                          <h4 class="title" >
                            <a href="{{ url_for ('question_thread', question_id= question.id ) }}">
                                {{ question.forum_title }}
                            </a>
                          </h4>
                          <p><a class="btn pull-right" href="{{ url_for ('question_thread', question_id= question.id ) }}">Read more</a></p>
                          <p class="summary">{{ question.forum_question| truncate(150) }}</p>

                          <p class="pull-left"> question posted by <a href="#"> {{ question.user.username }} </a> </p>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>


</div>
{% endblock %}