{% extends "base.html" %}
{% block title %}
Forums | Ask A question
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for ('static', filename= 'forum_categories.css')}}">
{% endblock %}

{% block content %}

<div class="container" style="margin-top: 35px">
  <div class="page-header page-heading">
    <h3 class="pull-left">Forums</h3>
    <a href="{{ url_for ('post_forum_question') }}" class="btn main-btn pull-right">Ask Question</a>

    <div class="clearfix"></div>
  </div>
  <p class="lead">This is the right place to discuss any ideas, critics, feature requests and all the ideas regarding our website. Please follow the forum rules and always check FAQ before posting to prevent duplicate posts.</p>
  <p> if you couldn't find your question in the list below, please click on the button to the right and fill in the form to submit your question </p>
  <table class="table forum table-striped">
    <thead>
      <tr>
        <th class="cell-stat"></th>
        <th>
          <h5>Categories</h5>
        </th>
        <th class="cell-stat text-center hidden-xs hidden-sm">Questions</th>
        <th class="cell-stat-2x hidden-xs hidden-sm">Last Post</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
        <td>
          <h6><a href="{{ url_for ('list_forum_questions_faq' ) }}">Frequently Asked Questions</a><br>
            <small>These are some of the most common questions and answers about DLC</small>
          </h6>
        </td>
        <td class="text-center hidden-xs hidden-sm"><a href="#">{{ faq|length }}</a></td>

        {% if f %}
        <td class="hidden-xs hidden-sm">by <a href="#">{{ f.user.username }}</a><br>
          <small><i class="fa fa-clock-o"></i> 3 months ago</small>
        </td>
        {% else %}
        <td class="hidden-xs hidden-sm">
          None
        </td>
        {% endif %}

      </tr>
      <tr>
        <td class="text-center"><i class="fa fa-battery-empty fa-2x text-danger"></i></td>
        <td>
          <h6><a href="{{ url_for ('list_forum_questions_beginner') }}">Beginner</a><br>
            <small>Questions and answers about Beginner level courses</small>
          </h6>
        </td>

        <td class="text-center hidden-xs hidden-sm"><a href="#">{{ beginner|length }}</a></td>
        {% if b %}
        <td class="hidden-xs hidden-sm">by <a href="#">{{ b.user.username }}</a><br>
          <small><i class="fa fa-clock-o"></i> 1 years ago</small>
        </td>
        {% else %}
        <td class="hidden-xs hidden-sm">
          None
        </td>
        {% endif %}
      </tr>
      <tr>
        <td class="text-center"><i class="fa fa-battery-half fa-2x text-primary"></i></td>
        <td>
          <h6><a href="{{ url_for ('list_forum_questions_intermediate') }}">Intermediate</a><br>
            <small>Questions and answers about Intermediate level courses</small>
          </h6>
        </td>
        <td class="text-center hidden-xs hidden-sm"><a href="#">{{ intermediate|length }}</a></td>
        {% if i %}
        <td class="hidden-xs hidden-sm">by <a href="#">{{ i.user.username }}</a><br>
          <small><i class="fa fa-clock-o"></i> 3 months ago</small>
        </td>
        {% else %}
        <td class="hidden-xs hidden-sm">
          None
        </td>
        {% endif %}
      </tr>
      <tr>
        <td class="text-center"><i class="fa fa-battery-full fa-2x text-primary"></i></td>
        <td>
          <h6><a href="{{ url_for ('list_forum_questions_professional' ) }}">Professional</a><br>
            <small>Questions and answers about Professional level courses</small>
          </h6>
        </td>
        <td class="text-center hidden-xs hidden-sm"><a href="#">{{ professional|length }}</a></td>
        {% if p %}
        <td class="hidden-xs hidden-sm">by <a href="#">{{ p.user.username }}</a><br>
          <small><i class="fa fa-clock-o"></i> 3 months ago</small>
        </td>
        {% else %}
        <td class="hidden-xs hidden-sm">
          None
        </td>
        {% endif %}
      </tr>
    </tbody>
  </table>
</div>
</div>
{% endblock %}