{% extends "base.html" %}
{% block title %}
My Dashboard | Welcome
{% endblock %}
{% block content %}
<!--<i class="material-icons left">school</i>-->
<div class="row">
    <!-- blog card -->
    <div class="col s12 m12 l4">
            <div class="card">
                    <!--<div class="card-image waves-effect waves-block waves-light">
                        <img class="activator small" src="../static/index.jpg">
                    </div>-->
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">PYTHON<i class="material-icons right">more_vert</i></span>
                        <p><a href="{{url_for('admin.user_checkpoints')}}">View Course</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
  </div>

{% endblock %}