{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %} Courses {% endblock %}}
{% block content %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <h1 style="text-align:center;">Courses</h1>
        <hr class="intro-divider">
        <div class="center">
        <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>To do</th>
                  <th>Doing</th>
                  <th>Done</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <ul>
                      <li>create </li>
                      <li>create </li>
                      <li>create </li>
                    </ul>
                    <ul>
                      <div class="input_fields_wrap">
                      <button class="add_field_button">Add Skills</button>
                      <div><input type="text" name="mytext[]"></div>
                      </div>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
          </div>
          </div>
          </div>
        {%endblock%}