{% extends "base.html" %}
{% block title %}
My Dashboard | Welcome
{% endblock %}
{% block content %}

{% block fab %}
{% endblock %}
{% for task in tasks %}
<body class="white">
  <div class="row">
    <div class="col s12">
      <ul class="tabs .tabs-fixed-width">
        <li class="tab col s3"><a href="#test1">Checkpoints</a></li>
        <li class="tab col s3"><a href="#test2">Resources</a></li>
        <li class="tab col s3"><a href="#test3">Trello</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">
                      <h4>Checkpoint one</h4>

      <table class="striped">
        <thead>
          <tr>
              <th>Name</th>
              <th>See summary</th>
              <th>Progress</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{task.task_name|capitalize}} {{task.task_description}}</td>
          
            <td><i class="material-icons left">view_headline</i>
            <a class="modal-trigger" href="#modal1">View</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal modal-fixed-footer">
              <div class="modal-content">
                <h4>{{task.task_name}}</h4>
                <p>{{task.task_description}}</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">See full Description here</a>
              </div>
            </div>
            </td>
       
          </tr>
        </tbody>
      </table>

        </div>
    <div id="test2" class="col s12">
                             <p>Here are some learnig resources for check point 1</p>
                      <ol>
                        <li>Docopot link</li>
                        <li>Python 2.</li>
                        <li>Pep 8</li>
                         <li>Oop</li>
                         <li>Oop</li>

                      </ol>
                                                   <p>Here are some learnig resources for check point 2:</p>
                      <ol>
                        <li>Flask link</li>
                        <li>SQl alchemy.</li>
                        <li>demo scotch</li>
                         <li>Oop</li>
                         <li>Oop</li>

                      </ol>
                                                   <p>Here are some learnig resources for check point 3:</p>
                      <ol>
                        <li>Djsngo link</li>
                        <li>Firebase.</li>
                        <li>Pep 8</li>
                         <li>Oop</li>
                         <li>Oop</li>

                      </ol>
        </div>
    <div id="test3" class="col s12">Test 3</div>
  </div>
  {%endfor%}
   <div class="fixed-action-btn">
                    <a class="btn-floating btn-large dark blue">
                        <i class="large material-icons">add</i>
                    </a>
                    <ul>
                        <li><a class="btn-floating red" href="{{url_for('admin.add_tasks', id=course_id,course_id=course_id)}}"><i class="material-icons">insert_chart</i></a></li>
                    </ul>
                </div>
{% endblock %}
